*{
  font-family: "Roboto", sans-serif;
}
div.contacts_intro{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 30vh;
  align-items: center;
}
div.contacts_intro::before{
  content: "";
  background-color: hsla(200, 100%, 50%, 0.75);
  position: absolute;
  width: 100%;
  height: 30vh;
}
div.contacts_intro img{
  width: 100%;
  height: 30vh;
  object-fit: cover;
}
div.contacts_intro  h3{
  font-size: 30px;
  margin-left: 2rem;
  color: #fff;
  z-index: 1;
}
div.contacts_intro  h2{
  color: #111;
  font-size: 22px;
  margin: 1rem 0;
  font-weight: 700;
}
.contact_icon{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: hsla(200, 100%, 50%, 0.9);
  color: #fff;
  padding: .8rem;
}

div.contacts_content{
  background-color: #fff;
  padding: 3rem 4rem;
}
div.contacts_address{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  justify-content: center;
}
div.contact_item{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: .8rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  padding: 3rem 0;
}
div.contact_item p{
  color: #aaa;
}
div.contacts_form{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 3rem;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
div.contacts_map iframe{
  width: 100%;
  border: none;
  height: 100%;
}
div.contacts{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
}
div.contacts h3{
  color: #aaa;
  margin-bottom: .8rem;
}
div.contacts div.input_field{
  display: grid;
  grid-template-columns: 1fr;
  gap: .8rem;
}
div.contacts form{
  padding: 1rem 0;
}
div.contacts  input{
  border: solid rgba(0, 0, 0, 0.24) 1px;
  padding: .7rem .6rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  width: 50%;
  font-size: 18px;
  color: #111;
}
div.contacts label{
  font-size: 20px;
  font-style: italic;
  font-weight: 100;
}
div.contacts textarea{
  border: solid rgba(0, 0, 0, 0.24) 1px;
  padding: .7rem .6rem;
  border-radius: 3px;
  margin-bottom: 1rem;
  width: 75%;
  font-size: 18px;
  color: #111;
  height: 160px;
  resize: none;
}
div.contacts button{
  border-radius: 5px;
  padding: 1rem .7rem;
  display: block;
  width: 100px;
  font-size: 18px;
}
div.contacts button:hover{
  opacity: .9;
}
