.home_intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  /* display: none; */
}

.home_content {
  flex: 1;
  padding-right: 20px; /* Add some spacing on the right */
}

.intro_text {
  margin-bottom: 20px; /* Add spacing between paragraphs */
}

.cta_buttons {
  margin-top: 20px; /* Add spacing above the buttons */
}

button {
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .home_intro {
    flex-direction: column;
    align-items: flex-start;
  }

  .home_content {
    padding-right: 0;
  }

  .cta_buttons {
    display: flex;
    flex-direction: column;
  }

  button {
    margin-right: 0;
    margin-bottom: 10px;
  }
}